<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>모한대?! | 소중규모 문화컨텐츠 플랫폼</title>

        <link href="/css/font-awesome.css" rel="stylesheet">
        <link href="/css/simple-line-icons.css" rel="stylesheet">
        <link href="/css/fullscreen-slider.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/app.css" rel="stylesheet">

    </head>
    
    <body class="notransition no-hidden">

        <!-- Hero -->

        <div id="hero-container">
            <!--이미지 혹은 동영상 찾아서 넣어야함, 충분히 에어비엔비처럼 동영상 가능-->
            <ul class="cb-slideshow">
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>
            
            <div class="home-header">
                <!--우리 로고로 바꿀것/css에 들어가 있음-->
                <div class="home-logo osLight"><span class="fa fa-home"></span> LOGOgogo</div>
                <a href="#" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
                <div class="home-nav">
                    <ul>
                        <!--signup sign in 페이지로 연결 시켜줘야함-->
                        <!--맨위에 메뉴 가운데 정렬 하기 글자 크기도 좀더 키워야 할듯-->
                        <li><a href="#" data-toggle="modal" data-target="#signup">회원가입</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#signin">로그인</a></li>
                        <!--메뉴 넣을 것 추가-->
                        <li><a href="/">홈으로</a></li>
                        <li><a href="/mohandae/whoweare">뭐한대?!</a></li>
                        <li><a href="/mohandae/artist">단체정보</a></li>
                        <li><a href="/mohandae/show">공연정보</a></li>
                        <li><a href="/mohandae/community">커뮤니티</a></li>
                        <li><a href="add.html" class="btn btn-green">메뉴 버튼 다 눌러보세요</a></li>
                    </ul>
                    
 
                </div>
            </div>
            
            <div id="hero-container-blog">
            <div id="carouselBlog" class="carousel slide featured" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselBlog" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselBlog" data-slide-to="1"></li>
                    <li data-target="#carouselBlog" data-slide-to="2"></li>
                    <li data-target="#carouselBlog" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active" style="background-image: url(images/blog-1.jpg)">
                        <div class="container">
                            <div class="carousel-caption">
                                <div class="carousel-title">내용</div>
                                <div class="caption-title">글씨체 너무 마음안듬</div>
                                <div class="caption-subtitle">내용내용내용</div>
                                <a href="blog-post.html" class="btn btn-lg btn-o btn-white">Read More</a>
                            </div>
                            <div class="avatar-caption">
                                <img src="/images/avatar-1.png" alt="avatar">
                                <div class="ac-user">
                                    <div class="ac-name">내용내용</div>
                                    <div class="ac-title">내용내용</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(images/blog-2.jpg)">
                        <div class="container">
                            <div class="carousel-caption">
                                <div class="carousel-title">내용내용</div>
                                <div class="caption-title">내용내용내용</div>
                                <div class="caption-subtitle">내용내용내용</div>
                                <a href="blog-post.html" class="btn btn-lg btn-o btn-white">Read More</a>
                            </div>
                            <div class="avatar-caption">
                                <img src="/images/avatar-2.png" alt="avatar">
                                <div class="ac-user">
                                    <div class="ac-name">내용내용내용</div>
                                    <div class="ac-title">내용내용</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(images/blog-3.jpg)">
                        <div class="container">
                            <div class="carousel-caption">
                                <div class="carousel-title">내용내용내용</div>
                                <div class="caption-title">내용내용내용</div>
                                <div class="caption-subtitle">내용내용내용</div>
                                <a href="blog-post.html" class="btn btn-lg btn-o btn-white">Read More</a>
                            </div>
                            <div class="avatar-caption">
                                <img src="/images/avatar-3.png" alt="avatar">
                                <div class="ac-user">
                                    <div class="ac-name">내용내용내용</div>
                                    <div class="ac-title">내용내용</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(images/blog-4.jpg)">
                        <div class="container">
                            <div class="carousel-caption">
                                <div class="carousel-title">내용내용</div>
                                <div class="caption-title">내용내용내용내용</div>
                                <div class="caption-subtitle">내용내용</div>
                                <a href="blog-post.html" class="btn btn-lg btn-o btn-white">Read More</a>
                            </div>
                            <div class="avatar-caption">
                                <img src="/images/avatar-4.png" alt="avatar">
                                <div class="ac-user">
                                    <div class="ac-name">내용내용내용</div>
                                    <div class="ac-title">내용내용</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carouselBlog" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                <a class="right carousel-control" href="#carouselBlog" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
            </div>

                    
              
        
        <div class="highlight">
            <div class="h-title osLight">내용 색깔 변화가능</div>
            <div class="h-text osLight"> Content!! </div>
        </div>


<!--소개 내용 시작-->
        <!-- Content -->

        <div class="home-wrapper">
            <div class="home-content">
                <h2 class="osLight">우리 서비스</h2>
                <div class="row pb40">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                        <a href="#">
                            <span class="icon-pointer s-icon"></span>
                            <div class="s-content">
                                <h2 class="s-main osLight">관련 아이콘 엄청 많음 바꿀수잇음</h2>
                                <h3 class="s-sub osLight">내용내용내용</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                        <a href="#">
                            <span class="icon-users s-icon"></span>
                            <div class="s-content">
                                <h2 class="s-main osLight">내용내용</h2>
                                <h3 class="s-sub osLight">내용내용내용</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                        <a href="#">
                            <span class="icon-home s-icon"></span>
                            <div class="s-content">
                                <h2 class="s-main osLight">내용내용</h2>
                                <h3 class="s-sub osLight">내용내용내용</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                        <a href="#">
                            <span class="icon-cloud-upload s-icon"></span>
                            <div class="s-content">
                                <h2 class="s-main osLight">내용내용내용내용</h2>
                                <h3 class="s-sub osLight">내용내용</h3>
                            </div>
                        </a>
                    </div>
                </div>

<!--사진 한명씩 -->
<h2 class="osLight">Our Agents</h2>
                <div class="row pb40">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="agent">
                            <a href="profile.html" class="agent-avatar">
                                <img src="/images/avatar-1.png" alt="John Smith">
                                <div class="ring"></div>
                            </a>
                            <div class="agent-name osLight">이름이름</div>
                            <div class="agent-rating">
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                            </div>
                            <div class="agent-contact">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="agent">
                            <a href="profile.html" class="agent-avatar">
                                <img src="/images/avatar-2.png" alt="Jane Smith">
                                <div class="ring"></div>
                            </a>
                            <div class="agent-name osLight">이름이름</div>
                            <div class="agent-rating">
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                            </div>
                            <div class="agent-contact">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="agent">
                            <a href="profile.html" class="agent-avatar">
                                <img src="/images/avatar-3.png" alt="Rust Cohle">
                                <div class="ring"></div>
                            </a>
                            <div class="agent-name osLight">이름이름이름</div>
                            <div class="agent-rating">
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                            </div>
                            <div class="agent-contact">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="agent">
                            <a href="profile.html" class="agent-avatar">
                                <img src="/images/avatar-4.png" alt="Antony Iglesias">
                                <div class="ring"></div>
                            </a>
                            <div class="agent-name osLight">이름이름이름</div>
                            <div class="agent-rating">
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                                <span class="fa fa-star text-yellow"></span>
                            </div>
                            <div class="agent-contact">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-green"><span class="fa fa-envelope-o"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>


                <h2 class="osLight"> 소개 말말 </h2>
                <div id="home-testimonials" class="carousel slide carousel-wb mb20" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#home-testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#home-testimonials" data-slide-to="1" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/images/avatar-2.png" class="home-testim-avatar" alt="Jane Smith">
                            <div class="home-testim">
                                <div class="home-testim-text"> 내용</div>
                                <div class="home-testim-name">내용내용</div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="/images/avatar-3.png" class="home-testim-avatar" alt="Rust Cohle">
                            <div class="home-testim">
                                <div class="home-testim-text">내용내용내용</div>
                                <div class="home-testim-name">내용내용</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Footer -->

        <div class="home-footer">
            <div class="home-wrapper">
                
                <div class="copyright">내용<br> &copy; 내용</div>
            </div>
        </div>


        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery-ui-touch-punch.js"></script>
        <script src="/js/jquery.placeholder.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery.touchSwipe.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=true&amp;libraries=geometry&amp;libraries=places" type="/text/javascript"></script>
        <script src="/js/infobox.js"></script>
        <script src="/js/jquery.visible.js"></script>
        <script src="/js/home.js" type="/text/javascript"></script>
    </body>
</html>